body {
    background-color: black;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;

    transition: width 1s, height 1s;

    margin: auto;

    background-color: deeppink;
}

.ball1 {
    width: 100px;
    height: 100px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;

    transition: width 1s, height 1s;

    margin: auto;

    background-color: aqua;
}