body {
    background-color: black;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    color: white;
}

.top-buttons {
    position: fixed;
    top: 10px;
    left: 10px;

    display: flex;
    gap: 5px;
}

/* .top-buttons button {
    display: block;
    margin-bottom: 5px;
} */

.ball {
    width: 100px;
    height: 100px;

    border-radius: 50%;

    margin: auto;

    transition: width 1s, height 1s;
}

.ball1 {
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;

    background-color: deeppink;
}

.ball2 {
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;

    background-color: aqua;
}

.ball3 {
    background-color: crimson;
}

.ball4 {
    background-color: cornflowerblue;
}

.ball5 {
    background-color: green;
}


.ball6 {
    background-color: gold;
}